<div class="header">
    <div>
        <Button class="tweetButton" onclick = newTweet()>
            ツイート
        </Button>
    </div>
</div>

<div class="newTweet">
    <%= form_with(model: @tweet, local: true, class: "tweetForm") do |form| %>
        <div class="closeButton">
            <button type="button" onclick=closeNewTweet()>&times;</button>
        </div>
 
        <%= form.text_field :body, :placeholder => "ツイートを入力", :class => 'tweetarea'%>
  
        <div class="inputButton">
            <%= form.submit%>
        </div>
    <% end %>
</div>

<div class="main flexContainer">
<!--
    <div class="profile">    
        profile
    </div>
-->
    <div class="tweets">
        <% @tweets.each do |tweet| %>
            <div class = "tweet flexContainer">
                <div class="userPic">
                    <%= image_tag "tweet.png" %>
                </div>
                <div class="tweetBody">
                    <div class="userName">name</div>
                    <div class= <%= tweet.id %> id="text"><%= tweet.body %></div>
                    <div class="reactionButtons">
                        <Button class="like" onclick="likeButton()">&#9829</Buttom>
                    </div>
                </div>
            </div>
        <% end %>
    </div>
</div>

